version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    ports: ["2181:2181"]
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    ports: ["9092:9092", "9093:9093"]
    depends_on: [zookeeper]
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:15
    ports: ["5432:5432"]
    environment:
      POSTGRES_DB: socdb
      POSTGRES_USER: socuser
      POSTGRES_PASSWORD: socpass123
# Agent de collecte et normalisation (Atelier B)
  collector:
    build:
      context: .
      dockerfile: Dockerfile.agents
    command: python agents/collector/collector.py
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - soc_network

  # Agent de détection d'anomalies IA (Atelier C)
  analyzer:
    build:
      context: .
      dockerfile: Dockerfile.agents
    command: python agents/analyzer/analyzer.py
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - soc_network

  # Agent de réponse automatique
  responder:
    build:
      context: .
      dockerfile: Dockerfile.agents
    command: python agents/responder/responder.py
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - soc_network

networks:
  soc_network:
    driver: bridge
